{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.login) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(form.agreeTerms) }}

        <button type="submit" class="btn">Sign Up</button>
    {{ form_end(form) }}
{% endblock %}
