{#
Single product content fragment
    Includes add to cart button
#}
<div id="product-name">
    {{ product.name }}
</div>
<div id="product-description">
    {{ product.description }}
</div>
<div><img src="{{ path( 'product_image_file_for_img_tag',{'id':attribute(product,"id")}) }}"
          alt="{{ product.description }}"/>
</div>
<div>
    {{ product.longDescription }}
</div>

<div id="price">
    {% set price = render(controller('App\\Controller\\MasterData\\Price\\Base\\PriceProductBaseController::fetch',
        { 'id':product.id}))|json_decode %}
    {{ price.currency }}
    {{ price.price}}

</div>

<div id="cart-form">
    {{ render(controller('App\\Controller\\Module\\WebShop\\External\\Cart\\CartController::addToCart',
        { 'id':product.id})) }}
</div>