{% if products|length == 0 %}
    No products found
{% else %}
    <div>
        {% for product in products %}

            <div id="product-{{ product.name }}">
                <div id="product-image">
                    <img width="100px" height="100px" src="{{ path( 'product_image_file_for_img_tag',{'id':attribute(product,"id")}) }}"
                         alt="{{ product.description }}"/>
                </div>

                <div id="product-desc">
                    {{ product.description }}
                </div>
                <div id="product-desc">
                    {{ product.longDescription }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

