{# templates/user/create.html.twig #}
{% extends 'base/my_base_template.html.twig' %}
{% block content %}

    {% if list is empty || list.length ==0 %}
        Hello
    {% else %}
        <table>
            {% for item in list %}
                <tr>
                    <td>
                        <div class="product-type">
                            {{ item.type }}
                        </div>
                    </td>
                    <td>
                        <div class="product-type-description">
                            {{ item.description }}
                        </div>
                    </td>

                    <div class="product-type-action-update">
                        <a href="{{ path('product_type_update', {'type':item.type}) }}">Update</a>
                    </div>
                    <div class="product-type-attributes-action-list">
                        <a href="{{ path('product_type_attributes-list', {'type':item.type}) }}">list</a>
                    </div>

                    <div class="product-typeaction-delete">
                        <a href="{{ path('product_type_delete', {'type':item.type}) }}">Delete</a>
                    </div>
                </tr>

            {% endfor %}
        </table>
    {% endif %}
{% endblock %}