<div class="d-flex flex-row">

    <div class="p-2"><img height=50; width=50 src="{{ path( 'system_image_load_logo') }}" alt="SilECust"/></div>

    <div class="p-2">
        <div class="d-flex flex-row">

            {{ form_start(form,{'action': path('home')}) }}
            <div class="p-2">

                {{ form_row(form.searchTerm) }}
            </div>
            <div class="p-2">

                {{ form_row(form.Search) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    {% if (app.user) %}
        <div class="p-2"><a href="{{ path('my_profile_panel') }}">Profile</a></div>
    {% endif %}

    {% if (app.user) %}
        <div class="p-2"><a href="{{ path('app_logout') }}">Logout</a></div>
    {% else %}
        <div class="p-2"><a href="{{ path('app_login') }}">Login </a></div>

    {% endif %}
</div>

